<!DOCTYPE html>
<html>
<head>
  <title>UsedCars</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div calss="notice">
    <%= notice if notice %>
    <%= alert if alert %>
  </div>
  <div class="container">
  <%= yield %>
  </div>
</body>
</html>
